body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
} 
.card {
    background: #1c1c3c;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.logo {
    font-size: 30px;
    margin-bottom: 10px;
}

h2 {
    margin: 5px 0;
}

.subtitle {
    font-size: 12px;
    color: #aaa;
    margin-bottom: 20px;
}

role.buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.role-buttons {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: white;
    background: #2d2d5a;

}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    color: white;
    background: #111;
}

.btn {
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #7a5cff, #9d6bff);
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.demo {
    margin-top: 15px;
    font-size: 12px;
    color: #aaa;
}